
.backgroundText{
    color:white;
}
.container{
    padding: 0;
    
}
.news {
    
    width: 80%;
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
.news ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1%;
}

.news .title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 85, 255, 0.832);
    color: white;
    height: 6vh;
    width: 100%;
}
@media screen and (max-width:769px){
    .backgroundImg{
        width: 100vw;
        height: 50vh;  
    }
    .test{
        width: 100vw;
        height: 50vh;
        position: absolute;
    }
    
    .backgroundText{
        position: absolute;
        height: 50vh;
        margin: 0;
        padding: 0 5%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.4);
    }
    .news {
        
        width: 100%;
    }
}


@media screen and (min-width:769px){
    .backgroundImg{
        width: 60vw;
        height: 70vh;  
    }
    .test{
        width: 60vw;
        height: 70vh;
        position: absolute;
    }
    .backgroundText{
        
        height: 70vh;
        margin: 0;
        padding: 0;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
    }
    .backgroundText h1{
        padding: 5vh;
    }
}

.scroll-list{
    transition: all 0.3s linear;
    
}

